In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 
import seaborn as sns

In [4]:
df = pd.read_csv('notebooks/data/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [12]:
X = df.drop(columns=['math score'],axis=1)
X.head(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88

In [17]:
y=df['math score']
y.head()

0    72
1    69
2    90
3    47
4    76
Name: math score, dtype: int64

In [21]:
cat_feat=X.select_dtypes(include="object").columns
num_feat=X.select_dtypes(exclude="object").columns

In [22]:
cat_feat,num_feat

(Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
        'test preparation course'],
       dtype='object'),
 Index(['reading score', 'writing score'], dtype='object'))

In [26]:
for i in cat_feat:
    print(df[i].unique())

['female' 'male']
['group B' 'group C' 'group A' 'group D' 'group E']
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
['standard' 'free/reduced']
['none' 'completed']

In [27]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [31]:
oh_enc = OneHotEncoder()
num_enc=StandardScaler()
preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_enc, cat_feat),
         ("StandardScaler", num_enc, num_feat),        
    ]
)

In [34]:
X= preprocessor.fit_transform(X)

In [35]:
X.shape

(1000, 19)

In [37]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)
X_train.shape,X_test.shape

((800, 19), (200, 19))